<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>页面导航</title>
    <style>
        a {
            display: block;
            font-size: 20px;
            line-height: 2
        }
    </style>
</head>
<body>
    <ul>
        {{#each pages}}
        <li>
            <a href="/{{name}}">{{name}}</a>
        </li>
        {{/each}}
    </ul>
</body>
</html>

